<div class="fiat-crypto-table table-responsive" style="margin: 0px auto">
    <table class="table-borderless text-center">
        <thead style="margin-bottom: 50px">
            <tr>
                <th>
                    <h4>
                        <span class="pointer">#</span>
                    </h4>
                </th>
                <th>
                    <h4><span class="pointer">Platform</span></h4>
                </th>
                <th>
                    <h4><span class="pointer">LastTraded Price</span></h4>
                </th>
                <th>
                    <h4><span class="pointer">Buy / Sell Price</span></h4>
                </th>
                <th>
                    <h4><span class="pointer">Difference</span></h4>
                </th>
                <th>
                    <h4><span class="pointer">Savings</span></h4>
                </th>
            </tr>
        </thead>
<% if(data.length>0){ %>
    <% data.forEach(function(element,index){ %>
        <tr>
            <td class="align-middle">
                <h4 class="table-text">
                    <%= index+1 %>
                </h4>
            </td>
            <td class="align-middle">
                <a target="_blank"
                    href="https://wazirx.com/invite/sp7pvbt6?utm_source=finstreet&amp;utm_medium=affiliate&amp;utm_campaign=regnow-btn">
                    <h4 class="table-text">
                        <span class="exchange-name">
                            <%=element.name %>
                        </span>
                    </h4>
                </a>
            </td>
            <td class="align-middle">
                <h4 class="table-text">₹ <%= Math.round(element.last *element.volume) %>
                </h4>
            </td>
            <td class="align-middle">
                <h4 class="table-text"><span>₹ <%= Math.round(element.buy * element.volume) %> / ₹<%=
                                Math.round(element.sell * element.volume) %> </span></h4>
            </td>
            <td class="align-middle">
                <h4>-<%= Math.round((element.sell - element.buy) * element.volume)/100 %> %</h4>
            </td>
            <td class="align-middle">
                <h4>▼ ₹ <%= (Math.abs(element.sell-element.buy)*element.volume).toFixed(3) %>
                </h4>
            </td>
        </tr>
        <% }) %>
   <% } %>
   </div>